<div class="center hero-unit">
  <h1>Eugene Rodikov's first RoR application</h1>

  <h2>
  	Хватит ШПАТЬ!!!!
  </h2>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
